includes:
    - %rootDir%/../../../src/Rules/Php/Phpstan/phpstan.neon
parameters:
    checkGenericClassInNonGenericObjectType: false
    #strictRules:
        #allRules: true
    excludePaths:
        - src/Rules/Php/Phpstan/Rule