parameters:
    level: max
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Parameter \#1 \$callback of method Illuminate\\Support\\Collection.*#'
        - '#Unable to resolve the template type (TValue|TKey).*#'
rules:
    - Rulezilla\Rules\Php\Phpstan\Rule\ClassMustBeDefinedAsFinal